.option-list {
  position: relative;
  overflow: hidden;
  background: black;
  padding: 1px;
  gap: 1px;
}

.option-name {
  font-weight: 500;
  padding-bottom: 0.3rem;
  &::first-letter {
    text-transform: uppercase;
  }
}
